.hero {
  color: #ffffff;
  max-width: 715px;
}

.hero.left {
  text-align: left;
}

.hero>h1 {
  font-size: 100px;
  height: 122px;
  line-height: 117px;
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.hero>p {
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: flex-end;
  margin: 5px 0 0 0;
  letter-spacing: 0.416667px;
}

@media only screen and (min-width: 769px) {
  .hero.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    max-width: inherit;
  }
}


@media only screen and (max-width: 768px) {
  .hero {
    margin-bottom: 45px;
  }

  .hero>h1 {
    font-size: 42px;
    line-height: 58px;
    height: inherit;
    max-height: none;
  }

  .hero>p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.1px;
    max-width: 280px;
  }
}
