:root {
  --main-purple: #5d1eb2;
  --main-red: #ff223e;
}

body {
  font-family: ProximaNova;
  background-image: -webkit-linear-gradient(70deg,
      var(--main-red) 56.62%,
      var(--main-purple) 45.38%);
  height: 2080px;
}
